h4 {
    font-family:Verdana;
    font-style:oblique;
    font-size:30px;
}

.dkred{
    color:darkred;
    align-content:center;
   

}

.dkblue {
    color:darkblue;
    align-content:center;



}


#welcome {

    font-weight:bold;



}