################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Christian-Gibson.github.io/FileContentIndex/25e85d6a-b2ec-4604-8937-b676138dce13.vsidx
/.vs/Christian-Gibson.github.io/FileContentIndex/df6ed0aa-994c-4f5b-a7d6-d849ce7aa8f3.vsidx
