################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Christian-Gibson.github.io/FileContentIndex/25e85d6a-b2ec-4604-8937-b676138dce13.vsidx
/.vs/Christian-Gibson.github.io/FileContentIndex/df6ed0aa-994c-4f5b-a7d6-d849ce7aa8f3.vsidx
/.vs/Christian-Gibson.github.io/FileContentIndex/972d9fb8-d6fd-444a-9d08-f4e4f4f8e2f5.vsidx
/.vs/Christian-Gibson.github.io/FileContentIndex/b623f8bb-a808-4235-9127-bcaef87bb0ed.vsidx
/.vs/Christian-Gibson.github.io/FileContentIndex/f8e3c88f-9600-4132-800f-d32296cb6243.vsidx
/.vs/Christian-Gibson.github.io/FileContentIndex
